<header class="header">
    <div class="container">
        <h1 class="logo"><a href="/">Temple Tracker</a></h1>
        <nav>
            <ul>
                <li class="dropdown">
                    <a routerLink="/action">Take Action <span class="dropdown-icon">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/add-temple">Add New Temple</a></li>
                        <!-- Add other dropdown items here -->
                    </ul>
                </li>
                <li><a href="/about-us" target="_blank">About Us</a></li>
                <li class="auth-links">
                    <!-- Show Sign In if user is NOT logged in -->
                    <a *ngIf="!user" (click)="login()">Sign in</a>
                    <!-- Hidden Google Sign-In button that will be rendered by Google Identity Services -->
                    <div id="googleSignInButton" style="display: none;"></div>
                    <!-- Show User Profile Image if logged in -->
                    <img *ngIf="user" [src]="user.picture || user.photoURL" alt="User" class="user-photo" (click)="logout()" />

                    <span class="divider">|</span>
                    <button class="give-btn">Give ?</button>
                </li>
            </ul>
        </nav>
    </div>
</header>