<header class="header">
    <div class="container">
        <h1 class="logo">Temple Tracker</h1>

        <div class="hamburger" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav [class.open]="menuOpen">
            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#mission">Mission</a></li>
                <li><a href="https://github.com/vibinguevara/TempleTracker" target="_blank">GitHub</a></li>
                <li>
                    <a href="https://buymeacoffee.com/vibinguevara" target="_blank" class="donate-link">Donate ☕</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>