<div class="about-container">
    <div class="about-header">
        <h1>About Temple Tracker</h1>
        <p>Your digital companion for temples across India.</p>
    </div>

    <div class="about-content">
        <img src="../assets/images/temple-favicon.png" alt="Temple Tracker" class="about-image">

        <div class="about-text">
            <p>
                Every street in India has a temple with its own special pooja or rituals. Bigger temples are popular, but what about the smaller temples at the end of your street? Temple Tracker solves this problem by allowing devotees to share special pooja details
                happening in smaller temples.
            </p>

            <p>

            </p>

            <p>
                It also enables community gathering events like chanting, spiritual meetups, and temple-based social activities — reviving our traditional culture and togetherness.
            </p>

            <p>
                In future phases, Temple Tracker aims to digitally document smaller temples — tracking land ownership, history, pooja records, and contributors — preserving our cultural heritage and preventing idol thefts, land encroachment etc.
            </p>

            <p class="final-line">
                Temple Tracker is completely free to use — built for the community, by the community.
            </p>
        </div>
    </div>
</div>